In [69]:
import pandas as pd
xls = pd.ExcelFile('BankCalls.xlsx')
bank = pd.read_excel(xls,'Calls')
bank.head(1)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0

In [70]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
bank.describe()
X_details = bank.drop(['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome','y'], axis=1)
Y_details=bank['y']
X_train, X_test, y_train, y_test = train_test_split(X_details,Y_details,test_size=0.5,random_state=0)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
Y_test=knn.predict(X_test)
Y_test
knn.score(X_test, Y_test)

1.0

NameError: name 'y_pred' is not defined